<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
       <link rel="stylesheet" type="text/css" href="css/dashboard.min.css"/>
       <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
       <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <script src="js/bootstrap.min.js"></script>
    </head>
    
    <body>
        {{{ body }}}
    </body>

</html>